


.container
{
    background-color:  #DDAF94;
    height: 100vh;
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box
{    display: grid;
     width: 70vw;
    grid-template-rows: 60px auto;
    height: 80vh;
    
}
.header
{
    background-color:#E6E6FA;
    display: flex;
    justify-content: space-around;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0,0, 0.8);
    z-index: 1;
}
.body
{
    background-color:#707070;
    padding: 30px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0,0, 0.8);
    z-index: 1;
}
.quiz-game{
    width: 40vw;
    text-align: center;
    background-color:#6495ED;
}
.options{
     list-style-type: none;
     margin: 20px 0;
}
.option{
    background-color: #fff;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid transparent;
}
#question-number
{  
    width: 5vw;
}

.difficult{
    margin: .3rem;
    font-weight: bold;
    font-size: large;
    
}
.easy
{
    font-weight: bold;
    font-size: large;
    padding: .3rem;
    
}
#time
{   
    width: 5vw;
    -ms-flex-item-align: center;
    margin-left: .3rem;
}
#questions
{
    margin-left:20px;
    
    
}
.option:hover{
    cursor: pointer;
    border: 2px solid #DE354C;
}
.btn-next{
    text-align: right;
}
.next{
background-color:#DE354C;
color:black;
padding: 15px 40px;
border-radius: 10px;

}
.next:hover{
    cursor: pointer;
    background-color: #fff;

}
li.active
{
    background-color:#6495ED;
    color:#000000 !important;
}
@media (max-width:780px) {
    .box
{  
     width: 100vw;
    
    height: 100vh;
    margin: 0;
    margin-top: 0;
    margin-bottom: 0;
    
}
.container{
    background-color: white;
    margin-top: 0;
    margin-bottom: 0;
}
.option{
    background-color: #fff;
    width: 300px;
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 2px solid transparent;}
}